.footer-banner--container {
  background-color: #ffd38f;
  border-radius: 10px;

  @mixin atLarge {
    margin-bottom: 60px;
  }
}

.footer-banner {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;

  @mixin atLarge {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
    height: 263px;
    padding: 0 25px;
  }

  &--left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    @mixin atLarge {
      width: fit-content;
      flex-direction: column;
    }

    &_small-title {
      color: white;
      font-size: xx-large;
      margin-bottom: 5px;
    }
    &_title {
      color: white;
      font-size: xx-large;
    }
    &_discount {
      font-size: large;
      font-weight: bold;
      margin: 15px 0;
    }
    &_date {
      margin-top: 5px;
      font-size: medium;
    }
  }

  &--image {
    max-width: 100%;
    margin: 15px 0;

    @mixin atLarge {
      position: absolute;
      top: 0;
      left: 30%;
      max-width: 500px;
      min-height: 100%;
      margin: 0;
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 140px;

    @mixin atLarge {
      min-height: 160px;
    }

    &_smallText {
      font-size: large;
      display: none;
    }
    &_title {
      font-size: x-large;
      font-weight: 500;
    }
    &_desc {
      font-weight: 300;
    }
    &_btn {
      cursor: pointer;
      border: none;
      border-radius: 6px;
      padding: 8px;
      background-color: orange;
    }
  }
}
